* {
	touch-action: pan-y;
}

.mui-input-range .mui-tooltip {
	font-size: 24px;
	top: -40px;
	height: 44px;
}

.mui-input-range input[type=range] {
	width: 95%;
	//margin: 22px 0;
}

.mui-input-range input[type=range]::-webkit-slider-thumb {
	height: 24px;
	width: 24px;
}

#hw {
	height: 50px;
	font-size: 30px;
}

#hw .mui-icon-closeempty {
	padding-top: 4px;
	font-size: 40px;
}

#hw h1 {
	padding-top: 4px;
	font-size: 24px;
}

#mw {
	margin-top: 52px;
	padding-top: 0;
}

#cfgmain .mui-table-view-cell {
	font-size: 20px;
	height: 66px;
	margin: 0;
}

#cfgmain .mui-table-view-cell.mui-active {
	background-color: #8fa;
}

#cfgmain .mui-table-view-cell.switch {
	padding: 24px 15px;
}

#cfgmain .mui-table-view-cell.input {
	padding: 12px 15px 24px;
}

#cfgmain .mui-table-view-cell.input div {
	font-size: 16px;
	bottom: 8px;
	text-align: right;
}

#cfgmain .mui-table-view-cell.numsel {
	padding: 10px 15px;
}

#cfgmain .mui-table-view-cell.numsel div {
	margin-top: 5px;
	text-align: right;
}

#needcnv div {
	float: left;
	display: block;
	width: 40%;
}

#needcnv .str {
	width: 59%;
	margin: -24px 0 0 auto;
}

#needcnv .b-box {
	height: 66px;
}

#needcnv .b-box .b-face {
	width: 100%;
	height: 66px;
	line-height: 66px;
	//background: #ffd;
	//box-shadow: 0 0 1px #ddd;
}

#needcnv .b-top {
	transform: rotateX(90deg) translateZ(33px);
	-webkit-transform: rotateX(90deg) translateZ(33px);
	//border-bottom: 1px solid #ddd;
}

#needcnv .b-front {
	transform: translateZ(33px);
	-webkit-transform: translateZ(33px);
	//border-bottom: 1px solid #ddd;
}

#needcnv .b-bottom {
	transform: rotateX(-90deg) translateZ(33px);
	-webkit-transform: rotateX(-90deg) translateZ(33px);
}

#needcnv .b-left {
	transform: rotateY(-90deg) translateZ(33px);
	-webkit-transform: rotateY(-90deg) translateZ(33px);
}

#needcnv .b-right {
	transform: rotateY(90deg) translateZ(33px);
	-webkit-transform: rotateY(90deg) translateZ(33px);
}

#needcnv .b-back {
	transform: rotateX(180deg) translateZ(33px);
	-webkit-transform: rotateX(180deg) translateZ(33px);
}